﻿
#DataPanel {
    position: absolute;
    left: 38px;
    bottom: 38px;
    z-index: 2;
    width: 280px;
    box-shadow: 2px 2px 10px #888888;
    background: #fff;
    border: solid;
    border-width: thin;
    height: auto !important;
    padding: 15px;
}

#DataPanel span{
    font-weight:bold;
    margin-right: 5px;
}

#DataEntries > *{
    margin: 5px;
}

#slider {
    position: absolute;
    right: 38px;
    bottom: 38px;
    z-index: 2;
}

#yearRange{
    border: none;
    height: 20px;
}

input[type=text], input[type=number]{
    height: auto !important;
}
.right{
    float: right;
}

input, label{
    display: block;
    width: 100%;
}